@use '../../Style/mixins' as *;
@use '../../Style/variables' as *;

.notifyList {
    @include flex-column;
}

.notifyContainer {
    @include flex-center;
}

.containerNotify {
    @include flex-justify;
    align-items: flex-start;
}

.notify {
    // individual
    gap: $padding-md;
    display: flex;
    margin: $padding-md;

    div {
        margin: auto 0;
    }
}

.noNotifyContainer {
    @include flex-center
}

.deleteNotify {
    color: white;
    background-color: red;
    border: none;
    top: 0;
    margin-top: 40px;
    margin-right: 100px;
    padding: 20px;
    border-radius: $padding-md;

}

.noNotify {
    @include flex-center;
    margin-top: 30px;
}