@use '../../Style/mixins' as *;
@use '../../Style/variables' as *;

.notifyList {
    @include flex-column;
    border-collapse: collapse;
}

.notifyContainer {
    @include flex-center;
}

.containerNotify {
    @include flex-justify;
    align-items: flex-start;
}

.notify {
    // individual
    gap: $padding-md;
    display: flex;
    margin: $padding-md;

    td {
        margin: auto 0;
    }
}

.noNotifyContainer {
    @include flex-center
}

.profileView {
    border-radius: $padding-md;
    color: white;
    border: none;
    padding: $padding-md;
    background-color: rgb(123, 123, 231);
}

.deleteNotify {
    color: white;
    background-color: red;
    border: none;
    top: 0;
    margin-top: 40px;
    margin-right: 100px;
    padding: 20px;
    border-radius: $padding-md;

}

.noNotify {
    @include flex-center;
    margin-top: 30px;
}

@media (min-width : 300px) and (max-width : 768px) {
    .containerNotify {
        @include flex-column
    }

    .deleteNotify {
        order: 1;
        margin: $padding-md auto;
        padding: 20px 40px;
    }

    .notifyList {
        order: 2;
    }
}