@use '../../../Style/mixins' as *;
@use '../../../Style/variables' as *;

.followContainer .MuiPaper-root{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.indFollow {
    gap: $padding-md;
    display: flex;
    margin: $padding-md;
    border-bottom: $border-black;
    padding-bottom: $padding-md;
}

.btnView {
    margin: auto 0;
}

.viewProfile {
    border: none;
    border-radius: $padding-md;
    padding: $padding-md;
    color: white;
    background-color: blue;
    // height: 40px;
    margin: auto 0;
}

.username {
    margin: auto 0;
    width: 35%;
    overflow-wrap: break-word;
}

.headFollow {
    text-align: center;
    padding: 20px;
}

.noFollow {
    text-align: center;
    padding-top: $padding-md;
}