@use '../../Style/variables' as *;
@use '../../Style/mixins' as *;

.profile-container {
    @include space-flex;
}

.right {
    @include flex-column;
    width: 80%;
}

.head-profile {
    display: flex;
    justify-content: space-around;
    border-bottom: $border-black;
    // height: 40px;
    // margin: $padding-md 0;
    padding: $padding-md 0;
    text-align: center;

    button{
        background-color: blue;
        color: white;
        font-size: 15px;
        // font-weight: 500;
        border: none;
        border-radius: 10px;
        padding: $padding-md;
        cursor: pointer;
    }
}