@use '../../Style/variables' as *;
@use '../../Style/mixins' as *;

.profile-container {
    @include space-flex;
}

.mobileMenu {
    display: none;
}

.right {
    @include flex-column;
    width: 80%;
}

.head-profile {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #e5e7eb;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
    // height: 40px;
    // margin: $padding-md 0;
    padding: $padding-md 0;
    text-align: center;

    button {
        background-color: blue;
        color: white;
        font-size: 15px;
        // font-weight: 500;
        border: none;
        border-radius: 10px;
        padding: $padding-md;
        cursor: pointer;
    }
}

@media (max-width : 768px) and (min-width: 300px) {
    .mobileMenu {
        display: inline;
        width: 5%;
        margin: $padding-md auto;
        width: 30px;
        height: 30px;
        cursor: pointer;
    }

    .right {
        width: 90%;
    }
}