@use './variables' as *;

@mixin flex-justify {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin links {
    text-decoration: none;
    font-size: 18px;
    color: $link-color;
}