@use './variables' as *;

@mixin links {
    text-decoration: none;
    font-size: 18px;
    color: $link-color;
}

@mixin flex-column { 
    display: flex;
    flex-direction: column;
}

@mixin space-flex {
    display: flex;
    justify-content: space-between;
}

@mixin flex-justify {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-wrap {
    display: flex;
    flex-wrap: wrap;
}

@mixin flex-space {
    display: flex;
    justify-content: space-around;
}