@use '../../Style/variables' as *;
@use '../../Style/mixins' as *;

.otherContainer {
    @include space-flex;
    align-items: stretch;
}

.othersContainer {
    display: flex;
    flex-direction: column;
}

.mobileMenu {
    display: none;
}

.otherSidebar {
    @include flex-column;
    width: 20%;
    height: fit-content;
    border-right: 1px solid #e5e7eb;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);

    &>div {
        margin: $padding-md;
    }

    &>div:first-child {
        margin: 0;
    }
}

.followInfo {
    @include flex-space;
    text-align: center;
    border-bottom: 1px solid #e5e7eb;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
    padding: $padding-md 0;
    flex-shrink: 0;
}

.socialLink {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.messageBtn {
    border: $border-black;
    border-radius: $padding-md;
    color: black;
    padding: $padding-md;
    background: none;
}

.alreadyFollow {
    border-radius: 5px;
    cursor: auto;
    // border: $border-black;
}

.followBtn {
    border: none;
    background-color: blue;
    border-radius: $padding-md;
    color: white;
    padding: $padding-md;
}

.unFollowBtn {
    border: none;
    background-color: #ff4d4f;
    border-radius: $padding-md;
    color: white;
    padding: $padding-md;
}

.postSide {
    width: 80%;
}


@media (max-width : 768px) and (min-width: 300px) {
    .mobileMenu {
        display: inline;
        width: 5%;
        margin: $padding-md auto;
        width: 30px;
        height: 30px;
        cursor: pointer;
    }

    .postSide {
        width: 90%;
    }
}