@use '../../Style/variables' as *;
@use '../../Style/mixins' as *;

.otherContainer {
    @include space-flex;
}

.otherSidebar {
    @include flex-column;
    width: 20%;
    border: $border-black;
}

.followInfo {
    @include flex-space;
    text-align: center;
    border-bottom: $border-black;
}

.postSide {
    width: 80%;
}