@use '../../Style/variables' as *;
@use '../../Style/mixins' as *;

.otherContainer {
    @include space-flex;
}

.otherSidebar {
    @include flex-column;
    width: 20%;
}

.followInfo {
    @include space-flex;
    border-bottom: $border-black;
}

.postSide {
    width: 80%;
}