@use '../../Style/mixins' as *;
@use '../../Style/variables' as *;


.sidebar-container {
    width: 20%;
    border: $border-black;
    position: sticky;
    top: 0;
    z-index: -1;
}

.edit,
.passwordChange {
    padding: $padding-md;
    margin: $padding-md;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    background-color: blueviolet;
    color: white;

    & :hover {
        background-color: rgb(77, 11, 139);
    }
}

.logout {
    padding: $padding-md;
    margin: $padding-md;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    background-color: red;

    & :hover {
        background-color: rgb(179, 4, 4);
    }

}

.sidebarName {
    font-weight: bold;
    // font-size: 14px;
}

.socialLink {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.sidebar {
    @include flex-column;
    & > div {
        margin: $padding-md;
    }
    // align-items: center;
}

.uploadBtn {
    border: $border-black;
    background-color: blueviolet;
    color: white;
    padding: $padding-md;
    border-radius: 10px;
    margin: $padding-md;
    cursor: pointer;
}