@use '../../Style/mixins' as *;
@use '../../Style/variables' as *;


.sidebar-container {
    width: 20%;
    border: $border-black;
    position: sticky;
    top: 0;
}

.edit,
.passwordChange {
    padding: $padding-md;
    margin: $padding-md;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    background-color: blueviolet;
    color: white;

    & :hover {
        background-color: rgb(77, 11, 139);
    }
}

.logout {
    padding: $padding-md;
    margin: $padding-md;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    background-color: red;
    color: white;

    & :hover {
        background-color: rgb(179, 4, 4);
    }

}

.sidebar {
    @include flex-column;

    &>input {
        width: auto;
    }

    &>div {
        margin: $padding-md;
    }

    // align-items: center;
}

.editSidebar {
    @include flex-column;

    &>div {
        display: flex;
        margin: $padding-md;
    }

    input,
    input:focus {
        width: auto;
        border: $border-black;
        border-radius: $padding-md;
    }

    input {
        padding: $padding-md;
        padding-right: 0;
    }
}

.locationInfo {
    input {
        width: 60%;
    }
}

.addSocial {
    background-color: blue;
    padding: $padding-md;
    width: 50%;
    color: white;
    border-radius: $padding-md;
    border: none;
    margin: 0 auto;
}

.removeSocial {
    background-color: red;
    color: white;
    border: none;
    border-radius: $padding-md;
    padding: $padding-md;
}

button {
    cursor: pointer;
}

.btnUpdate {
    @include flex-space;

    .cancelProfile {
        background-color: white;
        // color: white;
        border: $border-black;
        border-radius: $padding-md;
        padding: $padding-md;
        width: 40%;
    }

    .updateProfile {
        background-color: blueviolet;
        color: white;
        border: none;
        width: 40%;
        border-radius: $padding-md;
        padding: $padding-md;
    }
}

label {
    padding: $padding-md;
}

.profilePicInfo {
    @include flex-column
}

.btnGroup {
    display: flex;
}

.uploadBtn {
    border: $border-black;
    background-color: blueviolet;
    color: white;
    text-align: center;
    padding: $padding-md;
    border-radius: 10px;
    margin: $padding-md;
    cursor: pointer;
}