@use '../../../Style/variables' as *;
@use '../../../Style/mixins' as *;

.groupContainer .MuiPaper-root {
    padding: $padding-md;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.groupInd {
    @include space-flex;
    display: flex;
    justify-content: space-between;
    margin: $padding-md;
    height: 40px;
}

.noUserPresent {
    margin: 20px auto;
    margin-bottom: 0;

}

.addMember {
    border-radius: $padding-md;
    color: white;
    background-color: blue;
    border: none;
    padding: $padding-md;
    justify-content: flex-end;
}

.removeMember {
    border-radius: $padding-md;
    color: white;
    background-color: red;
    border: none;
    padding: $padding-md;
}

.createGroup {
    width: 80%;
    margin: 0 auto;
    margin-top: $padding-md;
    color: white;
    background-color: blueviolet;
    padding: $padding-md;
    border: none;
    border-radius: $padding-md;
}

.memberContainer {
    gap: $padding-md;
    margin: $padding-md;
    width: 90%;
    display: flex;
    flex-wrap: wrap;

    .memberList::after {
        content: ",";
    }

    .memberList:last-child::after {
        content: "";
    }
}


.userInfoGroup {
    display: flex;
}

.usernameGroup {
    margin: auto 0;
    margin-left: $padding-md;
    width: 50%;
    overflow-wrap: break-word;
}