@use '../../Style/mixins' as *;
@use '../../Style/variables' as *;

.postContainer {
    // @include flex-wrap;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    overflow-y: auto;
    max-height: calc(100vh - 80px);
}

.postContainerProfile {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    overflow-y: auto;
    max-height: calc(100vh - 80px);
}

.postContainerHome {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    // overflow-y: auto;
    // height: calc(98vh - 60px);
}

.postUserInfo {
    display: flex;
    // margin-bottom: $padding-md;

    .postUserName {
        margin: auto 0;
        font-weight: 600;
        margin-left: $padding-md;
    }
}

.progressContainer {
    @include flex-center;
}

.progressCheck {
    margin-top: 20px;
}


.imagePost {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin: $padding-md 0;
    object-fit: contain;
}

.videoContainer {
    position: relative;
}

.playBtn {
    position: absolute;
    top: 45%;
    left: 45%;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    cursor: pointer;
    color: blue;
}

.alreadySave {
    color: blue;
    height: 20px;
    width: 20px;
}

.addSave {
    height: 20px;
    width: 20px;
}

.imageProfile {
    width: 40px;
    height: 40px;
    border-radius: $circle;
}

.postCaption {
    overflow-wrap: break-word;
    line-height: 1.2;
    margin: 5px 0;
}

.postHead {
    display: flex;
    justify-content: space-between;
}

.menuProfile {
    margin: auto 0;
    cursor: pointer;
    box-shadow: 12px 10px 10px rgba(0, 0, 0, 0.05);
}

.isProfile {
    background-color: red;
    color: white;
    width: 50%;
    padding: $padding-md;
    border: none;
    border-radius: $padding-md;
    margin: 5px 0;
    align-items: center;
}

.deletePost {
    @include flex-center
}

.commentImage {
    height: 20px;
    width: 20px;
    cursor: pointer;
}

.likedImage {
    color: blue;
    height: 20px;
    width: 20px;
}

.postInfo {
    display: flex;
    gap: 5px;
    margin-top: 5px;
}

.noPost {
    margin: auto;
    margin-top: 200px
}

.likeImage {
    height: 20px;
    width: 20px;
    cursor: pointer;
}

.postInd {
    height: fit-content;
    width: 400px;
    border: 1px solid #dedfe0;
    box-shadow: 12px 10px 10px rgba(0, 0, 0, 0.05);
    margin: $padding-md;
    border-radius: $padding-md;
    padding: $padding-md;
}

.postTypeInfo {
    @include flex-justify;
    padding-right: $padding-md ;
}

.postType {
    border: none;
    border-radius: $padding-md;
    color: white;
    background-color: rgb(241, 57, 57);
    padding: 7px;
}

.timeCreated {
    color: gray;
    margin: auto 0;
}

@media (min-width : 300px) and (max-width : 768px) {
    .postContainer {
        order: 3;
    }
}