@use '../../Style/variables' as *;
@use '../../Style/mixins' as *;

.navbar {
  @include flex-justify;
  padding-right: $padding-md;
  // margin-bottom: $spacing;
  border-bottom: $border-black;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 100;
  width: 96dvw;
  padding: 0 $padding-md ;

  .linkInfo {
    @include links;

    &:hover {
      color: $primary-color;
    }
  }
}

.inputBox {
  width: 100%;
  height: 30px;
  border-radius: 15px;
  border: 1px solid gray;
  padding-left: $padding-md;
}

.notifyLink {
  position: relative;
}

.numNotify {
  position: absolute;
  top: -80%;
  border: $border-black;
  border-radius: $circle;
  padding: 5px;
  color: white;
  background-color: blueviolet;
  right: -20%;
}

.searchUser {
  position: relative;
  width: 20%;
}

.navIcon,
.nonLoginIcon {
  display: none;
}

.searchContainer {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
  z-index: 9999;
  max-height: 250px;
  overflow-y: auto;
}

.searchResult {
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;

  &:hover {
    background: #f2f2f2;
  }
}

.noUser {
  padding: 10px;
  text-align: center;
}

@media (min-width : 300px) and (max-width : 768px) {
  .searchUser {
    width: 30%;
  }

  .nonLoginText {
    display: inline;
  }

  .nonLoginIcon {
    display: none;
  }

  .navIcon {
    display: inline;
    height: 30px;
    width: 30px;
  }

  .textMenu {
    display: none;
  }
}