@use '../../Style/variables' as *;
@use '../../Style/mixins' as *;

.navbar {
    @include flex-justify;
    padding-right: $padding-md;
    margin-bottom: $spacing;
    border-bottom: $border-black;

    .linkInfo {
        @include links;

        &:hover {
            color: $primary-color;
        }
    }
}

.inputBox {
    width: 240px;
    height: 30px;
    border-radius: 15px;
    border: 1px solid gray;
    padding-left: $padding-md;
}

.searchUser {
  position: relative;
  width: 250px;
}

.searchContainer {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: white;
  border-radius: 8px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
  z-index: 9999;
  max-height: 250px;
  overflow-y: auto;
}

.searchResult {
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;

  &:hover {
    background: #f2f2f2;
  }
}

.noUser {
  padding: 10px;
  text-align: center;
}