@use '../../Style/mixins' as *;
@use '../../Style/variables' as *;

.image {
    border-radius: $circle;
    width: 70px;
    height: 70px;
}

.avatar {
    background: orange;
    color: $primary-color;
    width: 80px;
    height: 80px;
}