@use '../../Style/mixins' as *;
@use '../../Style/variables' as *;

.image {
    border-radius: $circle;
    // margin-left: 20px;
    // margin-top: $padding-md
}

.avatar {
    @include flex-center;
    background: orange;
    color: white;
    border-radius: $circle;
    margin-left: 0;
}

.sidebarDiv {
    display: flex;
    align-items: center;
    margin-left: 0;
}

.imageSidebar {
    border-radius: $circle;
    margin: 0 auto;
}

.avatarSidebar {
    @include flex-center;
    margin: $padding-md auto;
    background: orange;
    color: white;
    border-radius: $circle;
}