@use '../../Style/mixins' as *;
@use '../../Style/variables' as *;

.sidebarName {
    font-weight: bold;
    // font-size: 14px;
}

.socialLink {
    text-decoration: none;
    color: black;
    margin:0 5px ;
    cursor: pointer;
}

.socials {
    gap: $padding-md;
}