@use '../../Style/variables' as *;
@use '../../Style/mixins' as *;

.chat-header {
    min-height: 15%;
    @include flex-justify;
    border: $border-black;
    padding: 0 $padding-md ;
}

.chat-section {
    height: 82vh;
}

.chat-body {
    height: 70%;
    border: $border-black;
}

.chat-footer {
    height: 15%;
    border: $border-black;
    @include flex-justify;

    .input-field {
        height: 80%;
        width: 80%;
        border-radius: 15px;
        margin-left: $padding-md;

    }

    .buttonSend {
        width: 15%;
        height: 80%;
        color: white;
        font-size: 14px;
        font-weight: 400;
        background-color: green;
        margin: 10px;
        cursor: pointer;
    }
}

.selectuser {
    height: 82vh;
    @include flex-center;
    border: $border-black;
}