@use '../../Style/variables' as *;
@use '../../Style/mixins' as *;

.chat-header {
    height: 15%;
    @include flex-justify;
    border: $border-black;
    padding: 0 $padding-md ;
}

.menuParent {
    position: relative;
}

.menuBtn {
    border: none;
    background: none;
    cursor: pointer;
}

.deleteBtn {
    position: absolute;
    top: 105%;
    bottom: 0;
}

.chat-body {
    height: 70%;
    border: $border-black;
    @include flex-column;
    overflow-y: scroll;
    background-color: rgb(240, 228, 206);
}

.sender,
.receiver {
    max-width: 60%;
    width: fit-content;
    height: 20px;
    border: $border-black;
    border-radius: $padding-md;
    background-color: white;
    color: black;
    font-size: 16px;
    padding: 5px;
    margin: 5px 0;
}

.sender {
    margin-left: auto;
    text-align: right;
    margin-right: $padding-md;
    background-color: rgb(77, 122, 10);
    color: white;
}

.receiver {
    margin-right: auto;
    text-align: left;
    margin-left: $padding-md;
    background-color: rgb(105, 107, 102);
    color: white;
}

.chat-footer {
    height: 15%;
    border: $border-black;
    @include flex-justify;

    .input-field {
        height: 80%;
        width: 80%;
        border-radius: 15px;
        margin-left: $padding-md;

    }

    .buttonSend {
        width: 15%;
        height: 80%;
        color: white;
        font-size: 14px;
        font-weight: 400;
        background-color: green;
        margin: 10px;
        cursor: pointer;
    }
}

.selectuser {
    height: 82vh;
    @include flex-center;
    border: $border-black;
}