@use '../../Style/variables' as *;
@use '../../Style/mixins' as *;

.message-container {
    height: 83vh;
    @include space-flex;
}

.left-mobile,
.left-side {
    overflow-y: scroll;
    width: 22%;
    height: 100%;
    padding: 0 $padding-md ;
}

.right-mobile,
.right-side {
    width: 78%;
    height: 100%;
}

.noChats {
    @include flex-center;
    margin-top: $padding-md;
}

.people {
    display: flex;
    border-bottom: $border-black;
    padding: $padding-md;
    padding-left: 0;
    cursor: pointer;

    div {
        margin: auto 0;
        margin-left: $padding-md;
    }
}


@media (min-width : 300px) and (max-width : 768px) {
    .left-mobile {
        display: none;
    }

    .left-side {
        width: 50%;
        border: $border-black;
        border-top: 0;
        border-radius: $padding-md;
        margin: 0 auto;
    }

    .right-mobile {
        width: 100%;
    }

    .right-side {
        display: none;
    }
}