@use '../../Style/variables' as *;
@use '../../Style/mixins' as *;

.message-container {
    height: 82vh;
    @include space-flex
}

.left-side {
    width: 20%;
    border: $border-black;
    padding: $padding-md;
}

.right-side {
    width: 75%;
}

.noChats {
    @include flex-center;
}

.people {
    display: flex;
    border-bottom: $border-black;
    padding: $padding-md;
    cursor: pointer;
    div {
        margin : auto 0;
        margin-left: $padding-md;
    }
}